## .NET gitignore
bin/
obj/
*.user
.vs/
.vscode/
*.suo
*.userosscache
*.sln.docstates
logs/
*.log

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Secrets
appsettings.Production.json
*secrets*

# OS
.DS_Store
Thumbs.db
